
\.idea/misc\.xml

\.idea/SoPAnalytics\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

Classes/__pycache__/Events\.cpython-35\.pyc

Classes/__pycache__/Match3Objects\.cpython-35\.pyc

Classes/__pycache__/PatternPresets\.cpython-35\.pyc

Classes/__pycache__/User\.cpython-35\.pyc

Data/__pycache__/Parse\.cpython-35\.pyc

Reports/__pycache__/AccumulativeROI\.cpython-35\.pyc

Reports/__pycache__/DetailedFunnel\.cpython-35\.pyc

Reports/__pycache__/DustDynamics\.cpython-35\.pyc

Reports/__pycache__/GlobalFunnel\.cpython-35\.pyc

Reports/__pycache__/InAppSales\.cpython-35\.pyc

Reports/__pycache__/LastEventHistogram\.cpython-35\.pyc

Reports/__pycache__/LifetimeHistogram\.cpython-35\.pyc

Reports/__pycache__/M3DetailedLevel\.cpython-35\.pyc

Reports/__pycache__/M3LevelBonuses\.cpython-35\.pyc

Reports/__pycache__/M3LevelsFunnel\.cpython-35\.pyc

Reports/__pycache__/ProgressHistogram\.cpython-35\.pyc

Reports/__pycache__/RetentionPatternHypothesis\.cpython-35\.pyc

Reports/__pycache__/UsersSessions\.cpython-35\.pyc

sql ios_ifa installs\.txt

Utilities/__pycache__/Colors\.cpython-35\.pyc

Utilities/__pycache__/Quests\.cpython-35\.pyc

Utilities/__pycache__/Shop\.cpython-35\.pyc

Utilities/__pycache__/Super\.cpython-35\.pyc

Utilities/__pycache__/Targets\.cpython-35\.pyc

Utilities/__pycache__/Tutorials\.cpython-35\.pyc
